<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head_fragment(title = '生徒情報一覧',scripts =  ~{::script}, links = ~{::link})"></head>
<body>
	<div class="container"></div>
	<h1>名簿一覧</h1>
	<div class="float-end">
	<a th:href="@{/student/add}" class="btn btn-primary">新規登録はこちら</a>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>出席番号</th>
				<th>名前</th>
				<th>住所</th>
				<th>電話番号</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="student : ${studentlist}" th:object="${student}" class="align-middle">
				<td class="center" th:text="*{id}"></td>
				<td th:text="*{name}"></td>
				<td th:text="*{address}"></td>
				<td th:text="*{phone}"></td>
				<td><a th:href="@{/student/{id}(id=*{id})}" class="btn btn-secondary">詳細</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>